extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
      include ../static/style.css

block content
    section#intro 
        div Welcome To Dance Academy
        div.small Eat Sleep Dance Repeat
   
   
    section#mission 
        h3 Our Mission
        
        div.card 
            h2 Dance Perfection
            div.card-box 
                div.card-img 
                    img(src="/static/img/1.png")

                div.card-content 
                    p This is the best dance academy.
                
        div.card 
            h2 Dance The Way You Like
            div.card-box 
                div.card-img 
                    img(src="/static/img/2.png")

                div.card-content 
                    p This is the best dance academy.
                
        div.card 
            h2 Expert Teaching
            div.card-box 
                div.card-img 
                    img(src="/static/img/3.png")

                div.card-content 
                    p This is the best dance academy.
                
    
    section#sponsor 
        h3 Our sponsors 

        div#sponsors 
            img(src="/static/img/logo1.png", alt="Sponsor Logo" class="sp-img")
            img(src="/static/img/logo2.png", alt="Sponsor Logo" class="sp-img")
            img(src="/static/img/logo3.png", alt="Sponsor Logo" class="sp-img")
            img(src="/static/img/logo4.png", alt="Sponsor Logo" class="sp-img")