doctype html
html
  head
    title Dance Academy
    style
      include ../static/style.css

  body 
    nav#navbar
        ul 
            li Home
            li About
            li Services
            li Class Info
            li Cntatact US

    section#intro 
        | section for picture 
    
    section#sponsor 
        | section for sponsors 

    footer#footer 
        | our footer here
    script 
        include ../static/index.js    